PORT=6868

# JWT
JWT_SECRET=your-secret-key-change-in-production

# OAUTH - GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAUTH - GITHUB
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# REDIRECT URL
REDIRECT_URL=http://localhost:5173/auth/callback

# MONGODB
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=aeshield
